body {
    background-image: url('image1.jpg');
    object-fit: contain;
    
}
.img1 {
    width: 30%;
    height: 300px;
    vertical-align: top;
    margin-right: 20px;
    object-fit: cover;
}
.img2 {
    width: 30%;
    height: 300px;
    vertical-align: top;
    object-fit: cover;
    margin-right: 20px;
}
.img6 {
    width: 30%;
    height: 300px;
    vertical-align: top;
    object-fit: cover;
}